# Variables d'environnement et secrets (CRITIQUE)
.env

# Fichiers de cache Python (inutiles sur le serveur distant)
__pycache__/
*.pyc
*.pyo

# Environnements virtuels locaux (si tu en utilises un)
venv/
env/